<ion-header>

  <ion-toolbar  class="tabs_bar">

  </ion-toolbar>
</ion-header>
<ion-content  padding>
  <!-- Notification  -->


  <!-- Account Details -->

<div *ngIf="opcion=='perfil'">
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/pelota2.png">
      </ion-avatar>
      <ion-label color="light">Nombre de usuario</ion-label>
    </ion-item>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Debe llenar todos los campos antes de guardar Perfil</p>


    <div class="appForm"  margin-top>
      <ion-list>
          <form [formGroup]="perfilForm">
        <ion-item>
          <ion-icon name="call"  color="light" item-left></ion-icon>
            <ion-input type="text" color="light" formControlName="Telefono"  placeholder="Telefono" id="Telefono" #Telefono value="{{us.TELEFONO}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input type="text" color="light" formControlName="Nombre" id="Nombre" #Nombre placeholder="Juan Perez" value="{{us.NOMBREUSUARIO}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-unlock" item-left></ion-icon>
          <ion-input type="text" color="light" formControlName="Rut" id="Rut" #Rut value="{{us.RUT}}" placeholder="10123456-7"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-unlock" item-left></ion-icon>
          <ion-input type="text"  color="light" formControlName="Correo" id="Correo" #Correo value="{{us.CORREO}}" placeholder="nombre@correo.com"></ion-input>
        </ion-item>
        <ion-button  expand="block" color="light" id="sign-in-button" color="medium" (click)="updatePerfil()">Actualizar</ion-button>

        </form>
      </ion-list>
    </div>
    </div>
    <div *ngIf="opcion=='notificaciones'">
    <ion-list>
      <ion-list-header>
        <ion-label>Configuración Notificaciones</ion-label>
        </ion-list-header>
        <ion-item>
   <ion-label>Noticias</ion-label>
   <ion-toggle></ion-toggle>
   </ion-item>
   <ion-item>
<ion-label>Calendario</ion-label>
<ion-toggle></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Resultados</ion-label>
<ion-toggle></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Resultados Equipos</ion-label>
<ion-toggle></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Calendario Equipos</ion-label>
<ion-toggle></ion-toggle>
</ion-item>
      </ion-list>
      </div>
<div *ngIf="opcion=='mensajes'">
  </div>

  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start" >
    <ion-fab-button><ion-icon src="/assets/svg/person-outline.svg" (click)="muestra('tabla')"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon src="/assets/svg/cog-outline.svg" (click)="muestra('fixture')"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon src="/assets/svg/mail-outline.svg" (click)="muestra('goleadores')"></ion-icon></ion-fab-button>

  </ion-fab-list>
</ion-fab>
</ion-content>
