<ion-header>

  <ion-toolbar  class="tabs_bar">
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  padding>
  <!-- Notification  -->


  <!-- Account Details -->

<div *ngIf="opcion=='perfil'">
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/pelota2.png">
      </ion-avatar>
      <ion-label color="light">Nombre de usuario</ion-label>
    </ion-item>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Debe llenar todos los campos antes de guardar Perfil</p>


    <div class="appForm" *ngIf="opcion=='perfil'" margin-top>
      <ion-list>
          <form [formGroup]="perfilForm">
        <ion-item>
          <ion-icon name="call"  color="light" item-left></ion-icon>
            <ion-input type="text" color="light" formControlName="Telefono"  placeholder="Telefono" id="Telefono" #Telefono value="{{us.TELEFONO}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input type="text" color="light" formControlName="Nombre" id="Nombre" #Nombre placeholder="Juan Perez" value="{{us.NOMBREUSUARIO}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-unlock" item-left></ion-icon>
          <ion-input type="text" color="light" formControlName="Rut" id="Rut" #Rut value="{{us.RUT}}" placeholder="10123456-7"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="ios-unlock" item-left></ion-icon>
          <ion-input type="text"  color="light" formControlName="Correo" id="Correo" #Correo value="{{us.CORREO}}" placeholder="nombre@correo.com"></ion-input>
        </ion-item>
        <ion-button  expand="block" color="light" id="sign-in-button" color="medium" (click)="updatePerfil()">Actualizar</ion-button>

        </form>
      </ion-list>
    </div>
    </div>
    <div *ngIf="opcion=='notificaciones'">
    <ion-list>
      <ion-list-header>
        <ion-label>Configuración Notificaciones</ion-label>
        </ion-list-header>
        <ion-item>
   <ion-label>Notificaciones</ion-label>
   <ion-toggle  *ngIf="us.NOTIFICACIONES=='1'" checked (ionChange)="modifica($event,'NOTIFICACIONES')"></ion-toggle>
   <ion-toggle  *ngIf="us.NOTIFICACIONES=='0'"  (ionChange)="modifica($event,'NOTIFICACIONES')"></ion-toggle>

   </ion-item>
   <ion-item>
<ion-label>Calendario</ion-label>
<ion-toggle  *ngIf="us.CAMPCALENDARIO=='1'" checked (ionChange)="modifica($event,'CAMPCALENDARIO')"></ion-toggle>
<ion-toggle  *ngIf="us.CAMPCALENDARIO=='0'"  (ionChange)="modifica($event,'CAMPCALENDARIO')"></ion-toggle>

</ion-item>
<ion-item>
<ion-label>Noticias</ion-label>
<ion-toggle  *ngIf="us.CAMPNOTICIAS=='1'" checked (ionChange)="modifica($event,'CAMPNOTICIAS')"></ion-toggle>
<ion-toggle  *ngIf="us.CAMPNOTICIAS=='0'"  (ionChange)="modifica($event,'CAMPNOTICIAS')"></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Resultados</ion-label>
<ion-toggle  *ngIf="us.CAMPRESULTADOS=='1'" checked (ionChange)="modifica($event,'CAMPRESULTADOS')"></ion-toggle>
<ion-toggle  *ngIf="us.CAMPRESULTADOS=='0'"  (ionChange)="modifica($event,'CAMPRESULTADOS')"></ion-toggle></ion-item>
<ion-item>
<ion-label>Resultados Equipos</ion-label>
<ion-toggle  *ngIf="us.EQUIPORESULTADOS=='1'" checked (ionChange)="modifica($event,'EQUIPORESULTADOS')"></ion-toggle>
<ion-toggle  *ngIf="us.EQUIPORESULTADOS=='0'"  (ionChange)="modifica($event,'EQUIPORESULTADOS')"></ion-toggle>
</ion-item>
<ion-item>
<ion-label>Calendario Equipos</ion-label>
<ion-toggle  *ngIf="us.EQUIPOCALENDARIO=='1'" checked (ionChange)="modifica($event,'EQUIPOCALENDARIO')"></ion-toggle>
<ion-toggle  *ngIf="us.EQUIPOCALENDARIO=='0'"  (ionChange)="modifica($event,'EQUIPOCALENDARIO')"></ion-toggle>
</ion-item>
      </ion-list>
      </div>
<div *ngIf="opcion=='mensajes'">
  <ion-list>
    <ion-item *ngFor="let n of notificaciones">

      <ion-label>
        <h3>{{n.NOMBRECAMPEONATO}}</h3>
        <h2>{{n.DESCRIPCION}}</h2>
<p>{{n.FECHACREACION}}</p>
      </ion-label>
    </ion-item>
    <ion-item>

  <ion-label>
    <h2>Mensaje 2</h2>
    <h3>22-04-2020.</h3>
    <p>Otro texto</p>
  </ion-label>
</ion-item>
</ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start" >
    <ion-fab-button (click)="muestra('perfil')"><ion-icon src="/assets/svg/person-outline.svg" ></ion-icon></ion-fab-button>
      <ion-fab-button (click)="muestra('notificaciones')"><ion-icon src="/assets/svg/cog-outline.svg" ></ion-icon></ion-fab-button>
        <ion-fab-button  (click)="muestra('mensajes')">  <ion-icon src="/assets/svg/mail-outline.svg">
        </ion-icon>


<ion-badge color="danger">55</ion-badge>
      </ion-fab-button>

  </ion-fab-list>
</ion-fab>
</ion-content>
