

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-content {
 --ion-background-color: #4a4a4a
}

ion-card{
  --background: #86888f

}

h3{
  color: #f4f5f8
}
h2{
    color: #f4f5f8
}
p{
    color: #f4f5f8
}
ion-toggle{
  --background: #CD5C5C
}
ion-list-header{
  --background: #E5E8E8
}
