<ion-header>
  <ion-toolbar>
    <ion-title>
      Campeonatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Mis Favoritos</ion-label>
    </ion-list-header>
      <ion-item *ngFor="let f of favoritos " (click)="detalleCampeonato(f.IDCAMPEONATO)">
        <ion-label>
          <h2>{{f.NOMBRECAMPEONATO}}</h2>
        </ion-label>




        </ion-item>

    </ion-list>


<ion-list>
  <ion-list-header>
    <ion-label>Campeonatos disponibles</ion-label>
  </ion-list-header>
    <ion-item *ngFor="let c of campeonatos " (click)="detalleCampeonato(c.IDCAMPEONATO)">
      <ion-label>
        <h2>{{c.NOMBRECAMPEONATO}}</h2>
        <h3>{{c.CATEGORIA}}</h3>
        <p>{{c.SEXO}}</p>
      </ion-label>




      </ion-item>

  </ion-list>


</ion-content>
