<ion-header>
  <ion-toolbar>
    <ion-title>
      Campeonatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Mis Favoritos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let f of favoritos " >
      <ion-label (click)="detalleCampeonato(f.IDCAMPEONATO)"  >
        <h2>{{f.NOMBRECAMPEONATO}}</h2>
        <h3>{{f.CATEGORIA}}</h3>
        <p>{{f.SEXO}}</p>
      </ion-label>
<ion-toggle checked (ionChange)=unfav(f.IDCAMPEONATO)></ion-toggle>



      </ion-item>

    </ion-list>


<ion-list>
  <ion-list-header>
    <ion-label>Campeonatos disponibles</ion-label>
  </ion-list-header>
    <ion-item *ngFor="let c of campeonatos " >
      <ion-label (click)="detalleCampeonato(c.IDCAMPEONATO)"  >
        <h2>{{c.NOMBRECAMPEONATO}}</h2>
        <h3>{{c.CATEGORIA}}</h3>
        <p>{{c.SEXO}}</p>
      </ion-label>
<ion-toggle (ionChange)=fav(c.IDCAMPEONATO)></ion-toggle>



      </ion-item>

  </ion-list>


</ion-content>
