<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card" *ngFor="let n of noticias" (click)="detalleNoticia(n.IDNOTICIA)">
      <img src="{{n.URLFoto}}" alt="" />
      <ion-card-header>
        <ion-card-subtitle color="light">{{n.NOMBRECAMPEONATO}}</ion-card-subtitle>
        <ion-card-title color="light">{{n.TITULO}}</ion-card-title>
      </ion-card-header>
      <ion-card-content color="danger">
        <h3 color="danger">{{n.DESCRIPCION}}</h3>
      </ion-card-content>
    </ion-card>
</ion-content>
