<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/partido2.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle color="light">Cruzeiro</ion-card-subtitle>
        <ion-card-title color="light">Pierde vergonsozamente</ion-card-title>
      </ion-card-header>
      <ion-card-content color="danger">
        <h3 color="danger">Por culpa de Alejandro Fuentes se llevan una goleada</h3>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/partido1.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle color="light">Liga LAF</ion-card-subtitle>
        <ion-card-title color="light">Nuevo puntero</ion-card-title>
      </ion-card-header>
      <ion-card-content color="danger">
        <h3 color="danger">Con la fecha que recién termino, la Liga LAF tiene nuevo puntero</h3>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/partido1.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle color="light">Liga LAF</ion-card-subtitle>
        <ion-card-title color="light">Nuevo puntero</ion-card-title>
      </ion-card-header>
      <ion-card-content color="danger">
        <h3 color="danger">Con la fecha que recién termino, la Liga LAF tiene nuevo puntero</h3>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <img src="/assets/partido1.jpeg" alt="" />
      <ion-card-header>
        <ion-card-subtitle color="light">Liga LAF</ion-card-subtitle>
        <ion-card-title color="light">Nuevo puntero</ion-card-title>
      </ion-card-header>
      <ion-card-content color="danger">
        <h3 color="danger">Con la fecha que recién termino, la Liga LAF tiene nuevo puntero</h3>
      </ion-card-content>
    </ion-card>
</ion-content>
