<ion-header translucent="true">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="back()">
    <ion-icon src="/assets/svg/arrow-back-outline.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-toolbar class="info_toolbar">

    <h5 ion-text color="light">{{campeonato.NOMBRECAMPEONATO}}</h5>
    <h6 ion-text>{{campeonato.TIPO}}</h6>
      <h6 ion-text>{{campeonato.SEXO}}</h6>

      <ion-icon *ngIf="sigue=='false'" size="large" margin-right name="ios-star" style="color:black" (click)="fav(campeonato.IDCAMPEONATO)"></ion-icon>
      <ion-icon *ngIf="sigue=='true'" size="large" margin-right name="ios-star" style="color:green" (click)="unfav(campeonato.IDCAMPEONATO)"></ion-icon>


  </ion-toolbar>

</ion-header>

<ion-content>



    <div *ngIf="opcion=='tabla'">
<ion-grid>
  <ion-row>
    <ion-col size="3">
    <p>Equipo</p>
      </ion-col>
      <ion-col>
        <p>PJ</p>
        </ion-col>
        <ion-col>
        <p>PG</p>
          </ion-col>
          <ion-col>
          <p>PE</p>
            </ion-col>
            <ion-col>
            <p>PP</p>
              </ion-col>
              <ion-col>
                <p>GF</p>
                </ion-col>

                  <ion-col>
                    <p>DG</p>
                    </ion-col>
                    <ion-col>
                      <p>Pts</p>
                      </ion-col>
    </ion-row>
    <ion-row *ngFor="let e of equipos">
      <ion-col size="3" (click)="detalleEquipo(e.IDEQUIPO)">
        <p>{{e.NOMBRE}}</p>
        </ion-col>
        <ion-col>
        <p>{{e.PJ}}</p>
          </ion-col>
          <ion-col>
              <p>{{e.PG}}</p>
            </ion-col>
            <ion-col>
              <p>{{e.PE}}</p>
              </ion-col>
              <ion-col>
                  <p>{{e.PP}}</p>
                </ion-col>
                <ion-col>
                    <p>{{e.GF}}</p>
                  </ion-col>

                    <ion-col>
                        <p>{{e.DG}}</p>
                      </ion-col>
                      <ion-col>
                        <p>{{e.PTOS}}</p>
                        </ion-col>
      </ion-row>
  </ion-grid>


</div>
<div *ngIf="opcion=='fixture'">
  <ion-grid>
    <ion-row>
      <ion-col col-4 text-left>
        <p>Local</p>
        </ion-col>
        <ion-col text-center>
          <p>Resultado</p>
          </ion-col>
          <ion-col text-right>
            <p>Visita</p>
            </ion-col>
      </ion-row>
      <ion-row *ngFor="let c of calendario"   >
        <ion-col class="ion-align-self-center"  text-left>
          <p>{{c.EQUIPOL}}</p>
          </ion-col>
          <ion-col text-center >
  <h6 *ngIf="c.FECHA=='None'">No agendado</h6>
  <h6 *ngIf="c.FECHA!='None'">{{c.FECHA}}</h6>
      <h3 *ngIf="c.GOLESL=='None'">0 - 0</h3>
            <h3 *ngIf="c.GOLESL!='None'">{{c.GOLESL}} - {{c.GOLESV}}</h3>
            </ion-col>
            <ion-col class="ion-align-self-center" text-right>
              <p>{{c.EQUIPOV}}</p>
              </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="opcion=='goleadores'">
    Goleadores
    </div>
    <div *ngIf="opcion=='tarjetas'">
      Tarjetas
      </div>
      <div *ngIf="opcion=='suspendidos'">
        Suspendidos

        </div>

  <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start" >
    <ion-fab-button (click)="muestra('tabla')"><ion-icon src="/assets/svg/bar-chart-outline.svg" ></ion-icon></ion-fab-button>
      <ion-fab-button (click)="muestra('fixture')"><ion-icon src="/assets/svg/calendar-outline.svg" ></ion-icon></ion-fab-button>
        <ion-fab-button (click)="muestra('goleadores')"><ion-icon src="/assets/svg/football-outline.svg" ></ion-icon></ion-fab-button>
          <ion-fab-button (click)="muestra('tarjetas')" color="warning" ><ion-icon src="/assets/svg/square-outline.svg" ></ion-icon></ion-fab-button>
            <ion-fab-button (click)="muestra('suspendidos')" color="danger"><ion-icon  src="/assets/svg/square-outline.svg"  ></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>
